<article>
  <header>Client Detail</header>
  <table>
    <tbody>
      <tr>
        <th>Code</th>
        <td><%= @client.code %></td>
      </tr>
      <tr>
        <th>First Name</th>
        <td><%= @client.first_name %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= @client.last_name %></td>
      </tr>
      <tr>
        <th>Document</th>
        <td><%= @client.document %></td>
      </tr>
      <tr>
        <th>Gender</th>
        <td><%= @client.gender %></td>
      </tr>
    </tbody>
  </table>
</artice>